// Default colors
$primary-color: #ed1b3b;
$grey-color: grey;
$dark-grey-color: #555555;
$lightblue-color: lightblue;
$white-color: #ffffff;
$orange-color: #fbb84b;

// Borders
$border-color: rgb(0, 0, 0, 0.1);
$border-input-color: rgb(0, 0, 0, 0.2);
