@use '../../styles/colors';

.search_section {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin: 25px auto;

  .search_section_title {
    font-size: 2.5rem;
    font-weight: bolder;

    .search_section_title_num {
      color: colors.$grey-color;
    }
  }

  .search_section_form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;

    .search_section_input {
      border: 1px solid colors.$border-input-color;
      padding: 10px;
      min-width: 0;
      grid-column: 1 / -2;
      border-radius: 1em;
    }

    .search_section_btn {
      background-color: colors.$orange-color;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: bold;
      grid-column: span 1;
      border-radius: 1em;
      transition: 0.2s linear;

      &:hover {
        background-color: colors.$lightblue-color;
      }
    }
  }
}
