@use '../../styles/colors';

.marvel_footer {
  background-color: colors.$dark-grey-color;
  margin-top: 40px;

  .footer_container {
    display: flex;
    flex-direction: column;
    gap: 2px;

    color: colors.$white-color;
    font-size: 0.8rem;

    .marvel_footer_logo {
      max-width: 78px;
      height: auto;
    }

    .marvel_footer_link {
      color: colors.$white-color;
    }
  }
}
